body {
    margin: 60px auto;
    width: 75%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    padding: 0px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    /*padding: 10px;*/
}

ul li{
	padding: 10px 0px;
}

nav .point{
	color: blue;
}

/*ul.custom {
	list-style-type: circle;
	padding: 10px;
}

li.custom {
	text-align:right;
    direction:rtl;
}*/

dl dt{
	padding: 20px 0px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: none;
    opacity: 0.5;
}

a.sidebar-nav-item:active{
	background-color: red;
}



h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


h3 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

article {	
  padding: 0 1rem 1rem 0;
  text-align: justify;
}

ion-icon {
	font-size: 36px;
}

footer {
   border-top: 3px solid #d5d5d5;
}

table, th, td {
  border: 0px solid black;
}


/*.title-container {
	text-align: right;
	display: inline-block;
}*/

/*.para-container {
	text-align: left;
	display: inline-block;
}*/



.container {
  display: flex;
  flex-flow: row nowrap;
  /*background-color: lightgreen;*/
	/*height: 30px;*/
}

#text-container {
	display: flex;
  	flex-flow: column nowrap;
  	justify-content: space-between;
  	float: left;
}

.icon-container {
	/*float:left;*/
	margin-top: 5px;
    margin: auto;
    width: 50%;
    padding: 10px;
}


#dp-container {
	padding-top: 2rem;
}

.logo {
	width: 300px;
	height: 300px;
	display: inline-block;
	background-size: cover;
	border-radius: 5%;
	-moz-border-radius: 5%;
	border: 2px solid #ffffff;
	/*box-shadow: 0 0 0 3px $text-color;*/
}



#twwet-research-container {
  display: flex;
  flex-flow: row nowrap;
  /*overflow-x:auto;*/
  /*background-color: lightgreen;*/
  /*top:30px;
  left:0;right:0;
  bottom:0;
  position:absolute;*/
}


#researchtrial {
	float: left;
	justify-content: space-between;
	width: 45%;
	/*border: 1px solid #2d2d4b;
	box-shadow: 1px 1px 0px #2d2d4b;
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;*/
	
}


#twitter {
	padding-top: 0rem;
	float: left;
	/*width: 55%;*/
}

