/*@import url(http://fonts.googleapis.com/css?family=Raleway);*/
body {
    margin: 60px auto;
    width: 75%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    padding: 0px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    /*padding: 10px;*/
}

ul li{
	padding: 10px 0px;
}

nav .point{
	color: blue;
}

/*ul.custom {
	list-style-type: circle;
	padding: 10px;
}

li.custom {
	text-align:right;
    direction:rtl;
}*/

dl dt{
	padding: 20px 0px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: none;
    opacity: 0.5;
}

/*a.sidebar-nav-item:active{
	background-color: red;
}*/



h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


h3 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

article {	
  padding: 0 1rem 1rem 0;
  text-align: justify;
}

ion-icon {
	font-size: 36px;
}

footer {
   border-top: 3px solid #d5d5d5;
}

table, th, td {
  border: 0px solid black;
}


/*.title-container {
	text-align: right;
	display: inline-block;
}*/

/*.para-container {
	text-align: left;
	display: inline-block;
}*/



.container {
  display: flex;
  flex-flow: row nowrap;
  /*background-color: lightgreen;*/
	/*height: 30px;*/
}

#text-container {
	display: flex;
  	flex-flow: column nowrap;
  	justify-content: space-between;
  	float: left;
}

.icon-container {
	/*float:left;*/
	margin-top: 5px;
    margin: auto;
    width: 50%;
    padding: 10px;
}


#dp-container {
	padding-top: 2rem;
}

.logo {
	width: 300px;
	height: 300px;
	display: inline-block;
	background-size: cover;
	border-radius: 5%;
	-moz-border-radius: 5%;
	border: 2px solid #ffffff;
	/*box-shadow: 0 0 0 3px $text-color;*/
}



#twwet-research-container {
  display: flex;
  flex-flow: row nowrap;
  /*overflow-x:auto;*/
  /*background-color: lightgreen;*/
  /*top:30px;
  left:0;right:0;
  bottom:0;
  position:absolute;*/
}


#researchtrial {
	float: left;
	justify-content: space-between;
	width: 45%;
	/*border: 1px solid #2d2d4b;
	box-shadow: 1px 1px 0px #2d2d4b;
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;*/
	
}


#twitter {
	padding-top: 0rem;
	float: left;
	/*width: 55%;*/
}



/*#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}*/
