body {
    margin: 60px auto;
    width: 70%;
}

/*nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    padding: 10px;
}*/

ul li{
	padding: 20px 0px;
}

dl dt{
	padding: 20px 0px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


h3 {
    
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.icon-container {
    margin: auto;
}

footer {
   border-top: 3px solid #d5d5d5;
}

.title-container {
	text-align: right;
	display: inline-block;
}

.para-container {
	text-align: left;
	display: inline-block;
}

.logo {
	width: 300px;
	height: 300px;
	display: inline-block;
	background-size: cover;
	border-radius: 50%;
	-moz-border-radius: 50%;
	border: 2px solid #ffffff;
	/*box-shadow: 0 0 0 3px $text-color;*/
}

#container {
  display: flex;
  flex-flow: row nowrap;
}

#text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#main-container {
	overflow: auto;
	background: BLUE;	
}

article {
  padding: 0 1rem 1rem 0;
  text-align: justify;
}

#dp-container {
  padding-top: 2rem;
}

ion-icon {
	font-size: 36px;
}
