<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" href="/assets/css/academicons.min.css">
		  <link href="/assets/css/all.css" rel="stylesheet">
		</head>
		<body>
		  <header></header>  
      <nav>
	      <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/cv">CV</a></li>
	      </ul>
			</nav>
			<div class="container">
			
			  {{ content }}
			
			</div><!-- /.container -->
			
      <footer>
        <div class="icon-container">
        
		      {{ content }}
        
        </div><!--/.icon-container-->
			</footer>
      
  </body>
</html>
