<!DOCTYPE html>
<html>
	<head>
		{% include analytics.html %}
		<title>{{ page.title }}</title>
		<!-- link to main stylesheets -->
	  	<link rel="stylesheet" type="text/css" href="/css/main.css">
	  	<link rel="stylesheet" href="/assets/css/academicons.min.css">
	  	<link rel="stylesheet" href="/assets/css/all.css">
	  	<!--<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   		<script src="script.js"></script>-->
	  
	</head>
	
	<body>
		<!--<div id="cssmenu">-->
			<nav>
				<ul>
					<li><a class="sidebar-nav-item" href="/">Home</a></li>
					<li><a class="sidebar-nav-item" href="/r-i">Research Interest <ion-icon name="flask" size="small"></ion-icon></a></li>
					<li><a class="sidebar-nav-item" href="/skills">Skills <ion-icon name="construct" size="small"></ion-icon></a></li>
					<li><a class="sidebar-nav-item" href="/education">Projects & Experience <ion-icon name="color-wand" size="small"></ion-icon></a></li>
				</ul>
			</nav>
		<!--</div>-->

		{{ content }}
		<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	</body>

</html>
