<!DOCTYPE html>
<html>
	<head>
		{% include analytics.html %}
		<title>{{ page.title }}</title>
		<!-- link to main stylesheets -->
	  	<link rel="stylesheet" type="text/css" href="/css/main.css">
	  	<link rel="stylesheet" href="/assets/css/academicons.min.css">
	  	<link rel="stylesheet" href="/assets/css/all.css">
	  
	</head>
	
	<body>

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/r-i">Research Interest <ion-icon name="flask" size="small"></ion-icon></a></li>
				<li><a href="/skills">Skills <ion-icon name="construct" size="small"></ion-icon></a></li>
				<li><a href="/education">Projects and Experience <ion-icon name="color-wand" size="small"></ion-icon></a></li>
			</ul>
		</nav>

		{{ content }}
		<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	</body>

</html>
